body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding: 15px;
}

.product {
  clear: both;
  margin: 20px;
}

.links {
  font-size: 14px;
}

li {
  padding: 5px;
}

a.custom-gumroad-button {
  width: 100px;
  text-decoration: none
}

a.custom-gumroad-button span {
  position: relative;
  left: -100px;
  top: -10px;
}

a.custom-gumroad-button img {
  width: 100px;
}
