body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.links {
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/favicon.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-color: lightgray;
  padding: 10px;
  border-bottom: solid 2px gray;
}

.links .section {
  float: left;
  margin-right: 100px;
}

.main {
  clear: both;
  margin-top: 200px;
}


.product {
  clear: both;
  margin: 20px;
}

li {
  padding: 5px;
}
